## Stats and Algebra

Import some libraries

In [2]:
import numpy as np 
import matplotlib as mpl 
import scipy as sp 

print "NumPy version", np.__version__
print "SciPy version", sp.__version__
print "Matplotlib version", mpl.__version__

NumPy version 1.10.1
SciPy version 0.16.0
Matplotlib version 1.5.0

When we import we often use shortcuts (numpy->np)

Use numpy to create an area...

In [3]:
myarray=np.array([1,4,5])

# alternatively could just do this...
import numpy
myarray2=numpy.array([1,4,5])

Try and open a .csv file with numpy

In [4]:
import numpy as np 

file_name="../../data/baseball/MLB2015Teams.csv"
data_matrix=np.loadtxt(file_name);

print data_matrix.shape

ValueError: could not convert string to float: Tm,

Let's try again with numpy

In [5]:
data_matrix=np.loadtxt(file_name, delimiter=',', usecols=range(3,9), skiprows=1)

In [6]:
print data_matrix.shape

(15L, 6L)

Try again only loading 1 collumn

In [7]:
BatAge1=np.loadtxt(file_name, delimiter=',', usecols=(2,), skiprows=1)
print type(BatAge1)
print BatAge1.shape

<type 'numpy.ndarray'>
(15L,)

Try again with another lib called Pandas

In [8]:
import pandas as pd
data_pandas=pd.read_csv(file_name)
print type(data_pandas)
print data_pandas.head()

<class 'pandas.core.frame.DataFrame'>
    Tm  #Bat  BatAge  wins   R/G    G    PA    AB    R     H      ...       \
0  BAL    48    27.9    81  4.40  162  6007  5485  713  1370      ...
1  BOS    51    28.3    78  4.62  162  6237  5640  748  1495      ...
2  CHW    40    28.2    76  3.84  162  6070  5533  622  1381      ...
3  CLE    49    27.9    81  4.16  161  6109  5439  669  1395      ...
4  DET    47    28.3    74  4.28  161  6159  5605  689  1515      ...

   OPS+    TB  GDP  HBP  SH  SF  IBB   LOB  old_team  winning_team
0    96  2307  127   51  20  32   23   990     False         False
1    98  2338  127   46  30  42   28  1142     False         False
2    91  2103  125   65  30  37   22  1065     False         False
3    94  2179  134   39  47  50   34  1147     False         False
4   106  2355  152   41  23  35   36  1111     False         False

[5 rows x 32 columns]

The cool thing about pandas is we can retrieve collumns of data by name

In [9]:
BatAge2=data_pandas.BatAge.as_matrix()

In [10]:
type(BatAge2)
print type(BatAge2)
print BatAge2.shape

<type 'numpy.ndarray'>
(15L,)