In [27]:
import pandas as pd

df=pd.read_csv('../data/basketball/stats2016.csv')

print type(df)
print df.shape
print
print df.columns
print
print df.head()

<class 'pandas.core.frame.DataFrame'>
(493, 30)

Index([u'Rk', u'Player', u'Pos', u'Age', u'Tm', u'G', u'GS', u'MP', u'FG',
       u'FGA', u'FG%', u'3P', u'3PA', u'3P.1', u'2P', u'2PA', u'2P.1', u'eFG%',
       u'FT', u'FTA', u'FT%', u'ORB', u'DRB', u'TRB', u'AST', u'STL', u'BLK',
       u'TOV', u'PF', u'PTS'],
      dtype='object')

  Rk         Player Pos Age   Tm   G  GS    MP   FG   FGA  ...    FT%  ORB  \
0  1     Quincy Acy  PF  25  SAC  30   7  11.1  1.4   2.5  ...   .760  1.3
1  2   Jordan Adams  SG  21  MEM   2   0   7.5  1.0   3.0  ...   .600  0.0
2  3   Steven Adams   C  22  OKC  52  52  24.9  2.8   4.8  ...   .607  2.5
3  4  Arron Afflalo  SG  30  NYK  47  47  34.1  5.5  12.3  ...   .876  0.3
4  5  Alexis Ajinca   C  27  NOP  41   6  12.3  2.0   4.0  ...   .821  1.1

   DRB  TRB  AST  STL  BLK  TOV   PF   PTS
0  1.5  2.8  0.3  0.4  0.4  0.3  1.3   3.6
1  1.0  1.0  1.5  1.5  0.0  1.0  1.0   3.5
2  3.8  6.3  0.7  0.4  1.2  1.0  2.8   7.2
3  3.3  3.6  1.9  0.4  0.2  1.1  2.3  14.2
4  3.0  4.1  0.4  0.3  0.5  0.5  2.2   4.6

[5 rows x 30 columns]

In [35]:
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

x=df.Age
y=df.BLK

print x.head()
print 
print y.max()
print y.head()

print type(x)

0    25
1    21
2    22
3    30
4    27
Name: Age, dtype: object

BLK
0    0.4
1    0.0
2    1.2
3    0.2
4    0.5
Name: BLK, dtype: object
<class 'pandas.core.series.Series'>