In [1]:
import sqlite3

In [8]:
with sqlite3.connect(":memory:") as con:
    c=con.cursor()
    
    c.execute('''CREATE TABLE sensors(date text, city text, code text, sensor_id real, temperature ream)''')
    
    for table in c.execute("SELECT name FROM sqlite_master WHERE type='table'"):
        print "Table", table[0]
        
    c.execute("INSERT INTO sensors VALUES ('2016-11-05','Utrecht','Red',42,15.14)")
    
    c.execute("SELECT * FROM sensors")
    
    print c.fetchone()

Table sensors
(u'2016-11-05', u'Utrecht', u'Red', 42.0, 15.14)

In [16]:
import statsmodels.api as sm
from pandas.io.sql import read_sql
import sqlite3

with sqlite3.connect(":memory:") as con:
    c=con.cursor()
    
    data_loader=sm.datasets.sunspots.load_pandas()
    df=data_loader.data 
    
    rows=[tuple(x) for x in df.values]
    
    con.execute("CREATE TABLE sunspots(year, sunactivity)")
    con.executemany("INSERT INTO sunspots(year, sunactivity) VALUES (?,?)", rows)
    c.execute("SELECT COUNT(*) FROM sunspots") 
    print c.fetchone()
    
    print read_sql("SELECT * FROM sunspots where year < 1732", con)
    
    con.execute("DROP TABLE sunspots")
    c.close()

(309,)
    year  sunactivity
0   1700            5
1   1701           11
2   1702           16
3   1703           23
4   1704           36
5   1705           58
6   1706           29
7   1707           20
8   1708           10
9   1709            8
10  1710            3
11  1711            0
12  1712            0
13  1713            2
14  1714           11
15  1715           27
16  1716           47
17  1717           63
18  1718           60
19  1719           39
20  1720           28
21  1721           26
22  1722           22
23  1723           11
24  1724           21
25  1725           40
26  1726           78
27  1727          122
28  1728          103
29  1729           73
30  1730           47
31  1731           35

In [17]:
from sqlalchemy.ext.declarative import declarative_base

In [18]:
Base = declarative_base()