In [36]:
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [37]:
apple=pd.read_csv('../data/financial/apple.csv', index_col=0, parse_dates=True)
print apple.head(2)
print apple.tail(2)

            Open  High   Low  Close    Volume
Date
1980-12-12     0  4.12  4.11   4.11  14657300
1980-12-15     0  3.91  3.89   3.89   5496400
              Open   High     Low  Close    Volume
Date
2015-02-20  128.62  129.5  128.05  129.5  48948419
2015-02-23  130.02  133.0  129.66  133.0  67871830

In [38]:
print apple.shape

(8640, 5)

In [39]:
print apple.columns

Index([u'Open', u'High', u'Low', u'Close', u'Volume'], dtype='object')

In [42]:
apple["2002-11-14":"2002-12-18"]

            Open  High   Low  Close     Volume
Date
2002-11-14  1.14  1.17  1.13   1.16   34256600
2002-11-15  1.16  1.16  1.13   1.14   39848200
2002-11-18  1.16  1.16  1.09   1.12   38490200
2002-11-19  1.11  1.12  1.07   1.09   50922200
2002-11-20  1.09  1.12  1.09   1.11   50206800
2002-11-21  1.14  1.17  1.12   1.17  102193000
2002-11-22  1.15  1.16  1.14   1.14   54815600
2002-11-25  1.14  1.15  1.12   1.14   48836200
2002-11-26  1.13  1.14  1.09   1.10   57488200
2002-11-27  1.11  1.13  1.10   1.12   70130200
2002-11-29  1.13  1.13  1.10   1.11   34637400
2002-12-02  1.14  1.15  1.07   1.08   97340600
2002-12-03  1.09  1.10  1.08   1.08   54828200
2002-12-04  1.08  1.08  1.04   1.07   73498600
2002-12-05  1.07  1.08  1.04   1.04   58583000
2002-12-06  1.05  1.08  1.04   1.07   60109000
2002-12-09  1.07  1.07  1.05   1.05   56326200
2002-12-10  1.05  1.10  1.05   1.09   74708200
2002-12-11  1.09  1.11  1.08   1.11   60757200
2002-12-12  1.11  1.11  1.07   1.08   35819000
2002-12-13  1.08  1.08  1.05   1.06   39739000
2002-12-16  1.06  1.08  1.04   1.06   61180000
2002-12-17  1.06  1.08  1.05   1.08   54243000
2002-12-18  1.06  1.06  1.04   1.04   35868000

In [44]:
print apple.iloc[8000]
print
print apple.iloc[8000,0]
print apple.iloc[8000,1]
print apple.iloc[8000,2]
print apple.iloc[8000,3]
print apple.iloc[8000,4]

Open            88.97
High            89.29
Low             88.29
Close           88.70
Volume    72627492.00
Name: 2012-08-07 00:00:00, dtype: float64

88.97
89.29
88.29
88.7
72627492.0

In [46]:
print "min is:",apple['Close'].min()
print "max is:",apple['Close'].max()
print "standard deviation is:",apple['Close'].std()

min is: 0.94
max is: 133.0
standard deviation is: 24.1926958235

In [32]:
over_100=apple[apple['Close']>100]

In [33]:
print over_100.shape

(115, 5)

In [35]:
apple['Close'][apple['Close']>100].count()

115