In [8]:
import numpy as np
import pandas as pd
from IPython.display import display

np.random.seed(42)

test=np.random.randn(2,5)
display(test)

np.savetxt('np.csv', test, delimiter=',', header='one,two,three,four,five')

array([[ 0.49671415, -0.1382643 ,  0.64768854,  1.52302986, -0.23415337],
       [-0.23413696,  1.57921282,  0.76743473, -0.46947439,  0.54256004]])

In [9]:
df=pd.DataFrame(test)

print df.shape
print 
print df.head()
print
print df.columns
print
print df.index

(2, 5)

          0         1         2         3         4
0  0.496714 -0.138264  0.647689  1.523030 -0.234153
1 -0.234137  1.579213  0.767435 -0.469474  0.542560

Int64Index([0, 1, 2, 3, 4], dtype='int64')

Int64Index([0, 1], dtype='int64')

In [10]:
df.to_csv('np2.csv')

In [12]:
test2=np.random.randn(2,5)
df2=pd.DataFrame(test2)

In [14]:
writer = pd.ExcelWriter('np.xlsx')
df.to_excel(writer, 'Data 0')
df2.to_excel(writer, 'Data 1')
writer.save()

In [16]:
xl=pd.ExcelFile('../data/running/Grand_Prix_Post_Stockadeathontemp.xls')
xl.sheet_names

[u'Male',
 u'Female',
 u'Agegrade',
 u'Totals Worksheet',
 u'Stockadeathon',
 u'Marathon',
 u'Vville',
 u'SEFCU',
 u'Anniversary',
 u'Colonie Mile',
 u'Dist Serv Worksheet',
 u'Green Worksheet',
 u'Masters Worksheet']

In [17]:
print type(xl)
df_run=xl.parse('Male')
print type(df_run)
df_run.head()

<class 'pandas.io.excel.ExcelFile'>
<class 'pandas.core.frame.DataFrame'>

,"Race #1 Hangover Half Marathon, January 1, 2015",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,Male Open,NaN,Male 30-39,NaN,Male 40-49,NaN,Male 50-59,NaN,Male 60-69,NaN,Male 70-79
1,1,12,Thomas O'Grady,12,Chuck Terry,12,Volker Burkowski,12,Derrick Staley,12,Lee Pollock,12,Tom Adams
2,2,10,Eric Young,10,Josh Merlis,10,Robert Irwin,10,Mark Stephenson,10,Ken Klapp,10,Wade Stockman
3,3,8,Thomas Dansereau,8,Dave Vona,8,John Stadtlander,8,Kevin Dollard,8,Kevin Donohue,8,Jim Moore
4,4,7,Cj Birdsall,7,Aaron Knobloch,7,Randall Cannell,7,Jay Thorn,7,Michael Thuman,7,Ray Lee