In [25]:
import sqlite3 
conn=sqlite3.connect("../../data/databases/mytest.db")

In [40]:
cursor=conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[(u'students',), (u'nba',)]

Select column example

In [28]:
cursor=conn.cursor()
sql='''select Player, Age, G, PTS from nba LIMIT 10'''
results=cursor.execute(sql)

all=results.fetchall()

for player in all:
    print player
    
cursor.close()

(u'Steven Adams', 22, 52, 7.2)
(u'Alexis Ajinca', 27, 41, 4.6)
(u'Cole Aldrich', 27, 31, 5.4)
(u'Chris Andersen', 37, 7, 1.9)
(u'Joel Anthony', 33, 13, 0.7)
(u'Omer Asik', 29, 46, 3.6)
(u'Jeff Ayres', 28, 5, 1.2)
(u'Cameron Bairstow', 25, 14, 1.4)
(u'Andrea Bargnani', 30, 46, 6.6)
(u'Aron Baynes', 29, 53, 5.7)

Select all example (with limit=10)

In [29]:
cursor=conn.cursor()
sql='''select * from nba LIMIT 10'''
results=cursor.execute(sql)

all=results.fetchall()

for player in all:
    print player

cursor.close()

(3, u'Steven Adams', u'C', 22, u'OKC', 52, 52, 24.9, 2.8, 4.8, 0.59, 0, 0, None, 2.8, 4.8, 0.59, 0.59, 1.6, 2.6, 0.607, 2.5, 3.8, 6.3, 0.7, 0.4, 1.2, 1, 2.8, 7.2)
(5, u'Alexis Ajinca', u'C', 27, u'NOP', 41, 6, 12.3, 2, 4, 0.497, 0, 0, 0, 2, 4, 0.5, 0.497, 0.6, 0.7, 0.821, 1.1, 3, 4.1, 0.4, 0.3, 0.5, 0.5, 2.2, 4.6)
(6, u'Cole Aldrich', u'C', 27, u'LAC', 31, 2, 11.5, 2.1, 3.9, 0.533, 0, 0, None, 2.1, 3.9, 0.533, 0.533, 1.3, 1.9, 0.661, 1.1, 2.7, 3.8, 0.9, 0.6, 0.7, 0.9, 2.2, 5.4)
(13, u'Chris Andersen', u'C', 37, u'MIA', 7, 1, 5.1, 0.6, 1.4, 0.4, 0.3, 0.7, 0.4, 0.3, 0.7, 0.4, 0.5, 0.4, 0.6, 0.75, 0.4, 0.9, 1.3, 0.4, 0.1, 0.4, 0.3, 0.6, 1.9)
(21, u'Joel Anthony', u'C', 33, u'DET', 13, 0, 4, 0.2, 0.4, 0.4, 0, 0, None, 0.2, 0.4, 0.4, 0.4, 0.4, 0.5, 0.833, 0.5, 0.6, 1.2, 0.1, 0.2, 0.3, 0.1, 0.6, 0.7)
(25, u'Omer Asik', u'C', 29, u'NOP', 46, 42, 17.4, 1.4, 2.6, 0.542, 0, 0, None, 1.4, 2.6, 0.542, 0.542, 0.8, 1.5, 0.557, 1.9, 4.2, 6.1, 0.3, 0.2, 0.5, 0.9, 1.9, 3.6)
(27, u'Jeff Ayres', u'C', 28, u'LAC', 5, 0, 2.8, 0.4, 0.4, 1, 0, 0, None, 0.4, 0.4, 1, 1, 0.4, 0.4, 1, 0.2, 0.4, 0.6, 0.4, 0, 0.6, 0.2, 0.4, 1.2)
(29, u'Cameron Bairstow', u'C', 25, u'CHI', 14, 1, 6.1, 0.6, 2.4, 0.242, 0, 0.3, 0, 0.6, 2.1, 0.276, 0.242, 0.3, 0.3, 1, 0.3, 1.5, 1.8, 0.4, 0.1, 0.2, 0.1, 1.1, 1.4)
(32, u'Andrea Bargnani', u'C', 30, u'BRK', 46, 0, 13.8, 2.8, 6.1, 0.455, 0.1, 0.3, 0.188, 2.7, 5.7, 0.471, 0.461, 1, 1.2, 0.825, 0.6, 1.5, 2.1, 0.4, 0.1, 0.2, 0.6, 1.3, 6.6)
(39, u'Aron Baynes', u'C', 29, u'DET', 53, 0, 14.3, 2.2, 4.6, 0.492, 0, 0, 0, 2.2, 4.5, 0.496, 0.492, 1.2, 1.7, 0.75, 1.7, 2.8, 4.5, 0.8, 0.3, 0.6, 0.9, 1.8, 5.7)

Where clause example

In [30]:
cursor=conn.cursor()
sql='''select Player, Age, G, PTS from nba WHERE PTS>20'''
results=cursor.execute(sql)

all=results.fetchall()

for player in all:
    print player
    
cursor.close()

(u'DeMarcus Cousins', 25, 44, 26.8)
(u'Brook Lopez', 27, 54, 20.2)
(u'Anthony Davis', 22, 47, 23.4)
(u'Paul George', 25, 53, 23.3)
(u'Blake Griffin', 26, 30, 23.2)
(u'Eric Bledsoe', 26, 31, 20.4)
(u'Stephen Curry', 27, 50, 29.8)
(u'Damian Lillard', 25, 47, 24.3)
(u'Kyle Lowry', 29, 52, 21)
(u'Isaiah Thomas', 26, 55, 21.5)
(u'Kemba Walker', 25, 52, 20.5)
(u'Russell Westbrook', 27, 54, 24.1)
(u'Carmelo Anthony', 31, 48, 21.4)
(u'Kevin Durant', 27, 47, 27.7)
(u'LeBron James', 31, 51, 25)
(u'Kawhi Leonard', 24, 51, 20.2)
(u'Jimmy Butler', 26, 48, 22.4)
(u'DeMar DeRozan', 26, 52, 23.4)
(u'James Harden', 26, 55, 28)
(u'C.J. McCollum', 24, 52, 20.7)
(u'Klay Thompson', 25, 50, 21.3)
(u'Andrew Wiggins', 20, 53, 20.8)

And/Or example

In [36]:
cursor=conn.cursor()
sql='''select Player, Age, G, PTS from nba WHERE PTS>20 AND T3P>4'''
results=cursor.execute(sql)

all=results.fetchall()

for player in all:
    print player
    
cursor.close()

(u'Stephen Curry', 27, 50, 29.8)

Order by example

In [37]:
cursor=conn.cursor()
sql='''select Player, Age, G, PTS from nba WHERE PTS>20 ORDER BY PTS'''
results=cursor.execute(sql)

all=results.fetchall()

for player in all:
    print player
    
cursor.close()

(u'Brook Lopez', 27, 54, 20.2)
(u'Kawhi Leonard', 24, 51, 20.2)
(u'Eric Bledsoe', 26, 31, 20.4)
(u'Kemba Walker', 25, 52, 20.5)
(u'C.J. McCollum', 24, 52, 20.7)
(u'Andrew Wiggins', 20, 53, 20.8)
(u'Kyle Lowry', 29, 52, 21)
(u'Klay Thompson', 25, 50, 21.3)
(u'Carmelo Anthony', 31, 48, 21.4)
(u'Isaiah Thomas', 26, 55, 21.5)
(u'Jimmy Butler', 26, 48, 22.4)
(u'Blake Griffin', 26, 30, 23.2)
(u'Paul George', 25, 53, 23.3)
(u'Anthony Davis', 22, 47, 23.4)
(u'DeMar DeRozan', 26, 52, 23.4)
(u'Russell Westbrook', 27, 54, 24.1)
(u'Damian Lillard', 25, 47, 24.3)
(u'LeBron James', 31, 51, 25)
(u'DeMarcus Cousins', 25, 44, 26.8)
(u'Kevin Durant', 27, 47, 27.7)
(u'James Harden', 26, 55, 28)
(u'Stephen Curry', 27, 50, 29.8)

'Order by Desc' example

In [38]:
cursor=conn.cursor()
sql='''select Player, Age, G, PTS from nba WHERE PTS>20 ORDER by PTS Desc'''
results=cursor.execute(sql)

all=results.fetchall()

for player in all:
    print player
    
cursor.close()

(u'Stephen Curry', 27, 50, 29.8)
(u'James Harden', 26, 55, 28)
(u'Kevin Durant', 27, 47, 27.7)
(u'DeMarcus Cousins', 25, 44, 26.8)
(u'LeBron James', 31, 51, 25)
(u'Damian Lillard', 25, 47, 24.3)
(u'Russell Westbrook', 27, 54, 24.1)
(u'Anthony Davis', 22, 47, 23.4)
(u'DeMar DeRozan', 26, 52, 23.4)
(u'Paul George', 25, 53, 23.3)
(u'Blake Griffin', 26, 30, 23.2)
(u'Jimmy Butler', 26, 48, 22.4)
(u'Isaiah Thomas', 26, 55, 21.5)
(u'Carmelo Anthony', 31, 48, 21.4)
(u'Klay Thompson', 25, 50, 21.3)
(u'Kyle Lowry', 29, 52, 21)
(u'Andrew Wiggins', 20, 53, 20.8)
(u'C.J. McCollum', 24, 52, 20.7)
(u'Kemba Walker', 25, 52, 20.5)
(u'Eric Bledsoe', 26, 31, 20.4)
(u'Brook Lopez', 27, 54, 20.2)
(u'Kawhi Leonard', 24, 51, 20.2)