## sqlite

SQLite is a lightweight relational database.  The Anaconda installation of python comes with a module called sqlite3 that allows one to interact with sqlite.  This is only a API that allows you to communicate with the database.  To create databases you need to install [sqlite](https://www.sqlite.org/docs.html)

Import sqlite3 and connect to the database

In [55]:
import sqlite3 
conn=sqlite3.connect("../../data/databases/mytest.db")

Create table example

In [56]:
cursor=conn.cursor()
sql='''create table students(name text, username text, id int)'''
cursor.execute(sql)
cursor.close()
#conn.close()

OperationalError: table students already exists

Print out all the students in the table

In [60]:
def printall():
    cursor=conn.cursor()
    sql='''select * from students'''
    results=cursor.execute(sql)
    all_students=results.fetchall()
    for student in all_students:
        print student
    
    cursor.close()
    
printall()

(u'Matty Mcdouble', u'mdoug', 334)
(u'Spiffy Chambers', u'spifter', 260)
(u'Purity Thompson', u'ptom', 288)
(u'Biffy two shoes', u'2shoes', 123)
(u'Marty McFly', u'bfut', 455)
(u'D. Trump', u'dtrump', 100)
(u'Freddie Peace', u'peacout', 775)

Insert example

In [58]:
cursor=conn.cursor()
sql='''insert into students (name, username, id) values ('Freddie Peace', 'peacout', 775)'''
cursor.execute(sql)
cursor.close()
conn.commit()

In [61]:
printall()

(u'Matty Mcdouble', u'mdoug', 334)
(u'Spiffy Chambers', u'spifter', 260)
(u'Purity Thompson', u'ptom', 288)
(u'Biffy two shoes', u'2shoes', 123)
(u'Marty McFly', u'bfut', 455)
(u'D. Trump', u'dtrump', 100)
(u'Freddie Peace', u'peacout', 775)

Update example

In [64]:
cursor=conn.cursor()
sql='''UPDATE students SET username='peaceeout' WHERE name='Freddie Peace' '''
cursor.execute(sql)
cursor.close()

In [65]:
printall()

(u'Matty Mcdouble', u'mdoug', 334)
(u'Spiffy Chambers', u'spifter', 260)
(u'Purity Thompson', u'ptom', 288)
(u'Biffy two shoes', u'2shoes', 123)
(u'Marty McFly', u'bfut', 455)
(u'D. Trump', u'dtrump', 100)
(u'Freddie Peace', u'peaceeout', 775)

Delete example

In [66]:
cursor=conn.cursor()
sql='''DELETE FROM students WHERE name='Freddie Peace' '''
cursor.execute(sql)
cursor.close()

In [67]:
printall()

(u'Matty Mcdouble', u'mdoug', 334)
(u'Spiffy Chambers', u'spifter', 260)
(u'Purity Thompson', u'ptom', 288)
(u'Biffy two shoes', u'2shoes', 123)
(u'Marty McFly', u'bfut', 455)
(u'D. Trump', u'dtrump', 100)

Delete a table

In [68]:
cursor=conn.cursor()
sql='''Drop table basketball'''
cursor.execute(sql)
cursor.close()

In [51]:
conn.close()

sunspots example (from 'Python Data Analysis Ivan Idris', chapter 8)

In [ ]:
import pandas as pd

conn=sqlite3.connect("sunspots.db")
cursor=conn.cursor()
sql='''select * from sunspots'''
results=cursor.execute(sql)
spots=results.fetchall()

for spot in spots:
    print spot

pymsql example (reading data from the web)

In [ ]:
import pymysql
import pandas as pd

db=pymysql.connect(host="mlb2015.db.11972874.hostedresource.com", user="mlb2015", passwd="Inf2015!",db="mlb2015")