In [1]:
import pandas as pd

In [4]:
locations=pd.read_csv('../../data/basketball/teamlocations.csv')
zipcodes=pd.read_csv('../../data/misc/zipcode.csv')

In [5]:
print locations.head()
print 
print zipcodes.head()

                     Team       City State    Zip
0           Atlanta Hawks    Atlanta    GA  30303
1      Charlotte Bobcats   Charlotte    NC  28202
2    Cleveland Cavaliers   Cleveland    OH   4415
3         Denver Nuggets      Denver    CO  80204
4  Golden State Warriors     Oakland    CA  94607

   zip        city state   latitude  longitude  timezone  dst
0  210  Portsmouth    NH  43.005895 -71.013202        -5    1
1  211  Portsmouth    NH  43.005895 -71.013202        -5    1
2  212  Portsmouth    NH  43.005895 -71.013202        -5    1
3  213  Portsmouth    NH  43.005895 -71.013202        -5    1
4  214  Portsmouth    NH  43.005895 -71.013202        -5    1

In [12]:
#help(locations.join)
#help(pd.merge)

joined=pd.merge(locations, zipcodes, left_on='Zip', right_on='zip')

print joined.head()
print joined.shape

                     Team       City State    Zip    zip                 city  \
0           Atlanta Hawks    Atlanta    GA  30303  30303              Atlanta
1      Charlotte Bobcats   Charlotte    NC  28202  28202            Charlotte
2    Cleveland Cavaliers   Cleveland    OH   4415   4415  Brownville Junction
3         Denver Nuggets      Denver    CO  80204  80204               Denver
4  Golden State Warriors     Oakland    CA  94607  94607              Oakland

  state   latitude   longitude  timezone  dst
0    GA  33.752856  -84.390130        -5    1
1    NC  35.227192  -80.844190        -5    1
2    ME  45.351184  -69.058062        -5    1
3    CO  39.734686 -105.019660        -7    1
4    CA  37.806427 -122.288980        -8    1
(28, 11)

In [17]:
joined=joined.drop('zip',1)
print joined.head()

                     Team       City State    Zip                 city state  \
0           Atlanta Hawks    Atlanta    GA  30303              Atlanta    GA
1      Charlotte Bobcats   Charlotte    NC  28202            Charlotte    NC
2    Cleveland Cavaliers   Cleveland    OH   4415  Brownville Junction    ME
3         Denver Nuggets      Denver    CO  80204               Denver    CO
4  Golden State Warriors     Oakland    CA  94607              Oakland    CA

    latitude   longitude  timezone  dst
0  33.752856  -84.390130        -5    1
1  35.227192  -80.844190        -5    1
2  45.351184  -69.058062        -5    1
3  39.734686 -105.019660        -7    1
4  37.806427 -122.288980        -8    1